@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;600;700;800&display=swap");

:root {
  --black-8: rgba(0, 0, 0, 0.8);
  --black-6: rgba(0, 0, 0, 0.6);
  --black-4: rgba(0, 0, 0, 0.4);
  --black-3: rgba(0, 0, 0, 0.3);
  --black-2: rgba(0, 0, 0, 0.2);
  --black-1: rgba(0, 0, 0, 0.1);
  --bg-grey: #f4f4f4;
  --hover-bg-grey: #ebebeb;
  --bg-blue: rgb(209, 234, 237);
  --shadow-regular: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --shadow-card: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  --shadow-card-hover: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

* {
  font-family: "Lexend Deca", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black-1);
  border-radius: 10rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--black-2);
}
